@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $justify;
}

.center-block{
  width: 30%;
  padding: 30px 20px;
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 15px;
  @include flex(center, center, column);
  margin: 0 auto;
}

.home-page-container{
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #dbedff 32%, #ebfff0);
  @include flex(center, center, column);
  height: 100vh;

    form{
      @include flex(center, center, column);
      width: 100%;
    }

    button{
      cursor: pointer;
      margin-top: 20px;
      height: 35px;
      width: 90px;
      border: none;
      border-radius: 5px;
      background-color: #2b6b7e;
      color: white;
      font-weight: 700;
      &:hover{
        background-color: white;
        color: #2b6b7e;
      }
    }

    input{
      width: 80%;
      height: 20px;
      font-size: 14px;

    }
  }
