@import './normalize';
@import './HomeStyle';
@import './components';
@import './ReposStyle';

body{
  font-family: 'Open Sans', sans-serif;
}

ul{
  list-style-type: none;
  -webkit-padding-start: 0;
}

i{
  color: #0f76ff;
}

select{
  cursor: pointer;
}